.T1{
text-align:right;
float:right;
}

.C1{
  background-color: green;
  border: 2px solid black;
  padding: -3em;

}
.d1{
italic;

}

.I1{
  align: left;
  border: 2px solid black;
  padding-right: 10%;
}
.I2{
  align:right;
  border: 2px solid black;
}
.P1{
  text-align:justify;
  float:right;
  margin-right: inherit;
}
.P2{
  text-align:left;
  margin-right: inherit;
}

table{
  border:1.5px solid black;
  background-color: white;
  width: 65%;
}
  th {
      background:green;
}
  td {
      background:white;
}
.Z{
  background-color: yellow;
}

.navbar {
  overflow: hidden;
  text-align: center;
  height: 15%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #black;
  text-align: center;
  padding: 3px;
  font-size: 17px;
  width: 18%;
  height: 15%;
  border-left: 2px solid black;
}

.a4{
  float:right;
  text-align:left, center;
  padding-right: 30%;
  margin-top: 5%;
}
.b4{
  float:left;
  text-align:left, center;
  padding-left:20%;
  margin-top: 5%;
  margin-right: 5%;
}

.bc{
  margin-right: 11%;
}

h1{
  body-color: lightgreen;
}
