body{
  background-color: lightblue;
}

.menu3 {
  background-color: lightgreen;
  height: 60px;
  text-align: center;
  padding-top: 4%;
}

.menu3 a {
text-decoration: none;
  padding: 32px 8%;
}
.menu3 a:hover {
  background-color: orange;
}

/* flex box starts here */


.flexbox {
  height:300px;
  background-color: lightgreen;
  display: flex;
/*flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-flow: column wrap;
  flex-flow: row-reverse wrap;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
  align-content: center; */
}

.box1{
  border: 2px solid red;
  width: 100px;
  order:
  flex:;
  align-self:;
  overflow:scroll;
}

.box2{
  border: 2px solid blue;
  width: 200px;
  height: 100px;
}
.box3{
  border: 2px solid lightpink;
  width: 30%;
  height: 120px;
}
.box4{
  border: 2px solid orange;
  width: 30px;
  height: auto;
}
