body{
  background-color: lightblue;
}
/*
.ab{
position: relative;
}

.zone{
position: absolute;
bottom: 20px;
right: 20px;
background-color: transparent gray;
color: 	#FF9900;
text-align: center;
margin-right: 48%;
border: 2px solid gray;
}
*/

.parent{
  height: 600px;
  margin-bottom: 100%;
  border: 2px solid red;
  position: relative;
}

.parent img{
  height: 600px;
  width: 100%;
}

.sub{
  position: absolute;
  height: 100px;
  margin-bottom: 50%;
  border: 4px solid grey;
  top: 80%;
  text-align: center;
  margin-left: 65%;
  bottom: 20px;
  right: 20px;
  background-color: transparent gray;
  overflow:scroll;
  color: orange;
}

.sub > a{
  color: yellow;
}

/*
.parent2 img {
  height: 50%;
  width: 25%;

}

.sub2 img {
  height: 25%;
  width: 12.5%;

}

.sub3 img {
  height: 25%;
  width: 12.5%;
}


.parent2{
position: relative;
}

.sub2{
position: absolute;
transform: rotate(-90deg);
padding-top: 5%;
margin-top: -30.1%;
left: -23.9%;
top: 16%;
animation: sub3 10s linear infinite;


}

.sub3{
position: absolute;
padding-top: 0%;
margin-top: -15%;
left: 12.5%;
animation: sub2 10s linear infinite;
}




@keyframes sub2 {

100% {transform: rotate(30deg);}
}

@keyframes sub3 {

100% {transform: rotate(360deg);}
} */

.clock img {
  width: 20%;
  height: 15%;
}

.minutes img {
  width: 10%;
  height: 7.5%;
}

.hours img {
  width: 10%;
  height: 7.5%;
}
.clock{
  position: relative;
  padding-top: 0%;
  margin-top: 0%;
  left: 0%;
  top: 0%;
  right: 0%
  bottom:0%;

}

.minutes{

  position: absolute;
  padding-top: 0%;
  margin-top: -11.9%;
  left: 9.9%;
}

.hours{
position: absolute;
transform: rotate(-90deg);
padding-top: 5%;
margin-top: -30.1%;
left: -26.25%;
top: 9.9%;
}
